.btn {
  /* color: var(--very-dark-cyan); */
  color: white;
  font-weight: bold;
  background-color: var(--strong-cyan);
  width: 50%;
  border-radius: 5px;
  border: 1px black solid;
  font-size: 19px;
}

.btn:focus {
  outline: 2px solid #32de84;
}

.btn:hover {
  background-color: whitesmoke;
  color: green;
  border: 1px var(--grayish-cyan) solid;
}
