.tip-wrapper {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 40px 20px 100px 50px;
  row-gap: 2rem;
}

.btn-group {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: auto;
  gap: 1px 1px;
  justify-content: center;
}
button {
  background-color: var(--very-dark-cyan);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  width: 90px;
}
p {
  font-size: 1rem;
}
input {
  width: 92px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  padding-left: 5px;
  margin-top: 2px;
  margin-right: 12px;
  outline: none;
}
input.people {
  width: 90%;
}
div.input-wrapper {
  position: relative;
}
::placeholder {
  color: red;
  font-size: 15px;
}
.bill_amt {
  width: 92%;
  margin-bottom: 1rem;
}
